<form (submit)="submit()" [formGroup]="form">
  <div class="box">
    <div *ngIf="loading" class="loading-box">
      <mat-spinner></mat-spinner>
    </div>
    <div style="padding: 1rem">
      <h2 class="la-font box-title">{{ "ແກ້ໄຂຂ່າວ ແລະ ກິດຈະກຳ" | translate }}</h2>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ຫົວຂໍ (ລາວ)" | translate
        }}</mat-label>
        <input matInput formControlName="title_la" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ຫົວຂໍ (ອັງກິດ)" | translate
        }}</mat-label>
        <input matInput formControlName="title_en" class="la-font" />
      </mat-form-field>

      <div style="margin: 20px 0;">
        <mat-label class="la-font">{{
          "ລາຍລະອຽດ (ລາວ)*" | translate
          }}</mat-label>
        <angular-editor id="editor1" formControlName="description_la" [config]="editorConfig"></angular-editor>
      </div>

      <div style="margin: 20px 0;">
        <mat-label class="la-font">{{
          "ລາຍລະອຽດ (ອັງກິດ)*" | translate
          }}</mat-label>
        <angular-editor id="editor2" formControlName="description_en" [config]="editorConfig"></angular-editor>
      </div>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{ "ວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="to_date">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{ "ຫາວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="end_date">
      </mat-form-field>

      <div style="display: flex;">
        <div style="margin-right: 5px;flex: 1">
          <div style="margin-bottom: 10px">
            <label for="" class="la-font"><strong>{{ "ຮູບພາບ ( 328 x 374 )" | translate }}</strong></label>
          </div>
          <input type="file" class="my-input" (change)="onLogoChange($event)">
          <div style="margin: 20px 0" *ngIf="imageUrl">
            <img [src]="imageUrl" width="150" height="80">
          </div>
        </div>
      </div>

      <div style="display: flex; margin-top: 10px;">
        <div style="margin-right: 5px;flex: 1">
          <div style="margin-bottom: 10px">
            <label for="" class="la-font"><strong>{{ "ວິດີໂອ" | translate }}</strong></label>
          </div>
          <input type="file" class="my-input" (change)="onVideoChange($event)">
          <div style="margin: 20px 0" *ngIf="imageUrl">
            <video width="320" height="240" controls>
              <source [src]="newsVideoUrl" type="video/mp4">
            </video>
          </div>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "SEO Title" | translate
          }}</mat-label>
        <input matInput formControlName="seo_title" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "SEO Keyword" | translate
          }}</mat-label>
        <input matInput formControlName="seo_key_word" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "SEO Rewrite" | translate
          }}</mat-label>
        <input matInput formControlName="seo_rewrite" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "SEO Description" | translate
          }}</mat-label>
        <input matInput formControlName="seo_description" class="la-font" />
      </mat-form-field>

      <div style="margin: 40px 0 10px">
        <a mat-stroked-button class="la-font" [routerLink]="baseUrl + '/news-activity'">
          <mat-icon style="font-size: 16px">keyboard_backspace</mat-icon>
          {{ "ຍົກເລີກ" | translate }}
        </a>
        <button
          mat-flat-button
          color="primary"
          class="la-font my-btn"
          style="margin-left: 10px"
        >
          <mat-icon style="font-size: 16px">save</mat-icon>
          {{ "ບັນທຶກ" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
