<form (submit)="submit()" [formGroup]="form">
  <div class="box">
    <div *ngIf="loading" class="loading-box">
      <mat-spinner></mat-spinner>
    </div>
    <div style="padding: 1rem">
      <h2 class="la-font box-title">{{ "ເພີ່ມທີ່ໃຫ້ບໍລີການ" | translate }}</h2>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ທີ່ໃຫ້ບໍລີການ (ລາວ)" | translate
        }}</mat-label>
        <input matInput formControlName="country_name_la" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ທີ່ໃຫ້ບໍລີການ (ອັງກິດ)" | translate
        }}</mat-label>
        <input matInput formControlName="country_name_en" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ປະເພດບໍລີການ" | translate
        }}</mat-label>
        <mat-select class="la-font" formControlName="service_type_id">
          <mat-option *ngFor="let type of service_type" [value]="type.id">
            {{ type.service_type_la }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div style="margin: 40px 0 10px">
        <a mat-stroked-button class="la-font" [routerLink]="baseUrl + '/service-country'">
          <mat-icon style="font-size: 16px">keyboard_backspace</mat-icon>
          {{ "ຍົກເລີກ" | translate }}
        </a>
        <button
          mat-flat-button
          color="primary"
          class="la-font my-btn"
          style="margin-left: 10px"
        >
          <mat-icon style="font-size: 16px">save</mat-icon>
          {{ "ບັນທຶກ" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
