<div class="_box box-toolbar" style="display: flex; align-items: center">
  <mat-form-field appearance="fill" style="width: 400px">
    <mat-label class="la-font">{{ "ຄົ້ນຫາດ້ວຍເບີໂທ" | translate }}</mat-label>
    <input matInput [(ngModel)]="searchPhone" (input)="searchCustomer()" />
    <mat-icon matSuffix style="cursor: pointer" (click)="searchCustomer()"
      >search</mat-icon
    >
  </mat-form-field>
</div>

<div class="_box box" style="margin-bottom: 50px">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="data" *ngIf="!loading">
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ຮູບພາບ" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img [src]="element.image" width="80" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{
          "ຊື່ ແລະ ນາມສະກຸນ" | translate
        }}</span></mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.firstname }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ເບິໂທຕິດຕໍ່" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.phone }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ອີເມວ" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.email }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="created_dt">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ວັນທີສະໝັກ" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{
          element.created_dt | date : "dd/MM/yyyy"
        }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="detail">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ລາຍລະອຽດ" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="warn"
          [routerLink]="['/customer/detail', element.id]"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">ACTIVE</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle
          (change)="updateCustomer(element)"
          [checked]="element.active"
        >
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSize]="limit"
    [length]="resultsLength"
    aria-label="Select page"
  ></mat-paginator>
</div>
