<div class="_box box" style="margin-bottom: 50px">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataSource" *ngIf="!loading">

    <ng-container matColumnDef="no">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let element;let i = index">{{i + 1}}</mat-cell>
    </ng-container>>

    <ng-container matColumnDef="order_status">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ສະຖານະອໍເດີ້" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.order_status.order_status_name }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ຫົວຂໍ້" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.title }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="body">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ລາຍລະອຽດ" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.body }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ຮູບພາບ" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img [src]="element.image" width="80">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="send_to_store">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ແຈ້ງເຕືອນໄປຫາຮ້ານຄ້າທີ່ກ່ຽວຂ້ອງ" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.send_to_store" style="color: #00e676">check_circle</mat-icon>
        <mat-icon *ngIf="!element.send_to_store" style="color: #ff3d00">cancel</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="send_to_delivery">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ແຈ້ງເຕືອນໄປຫາຄົນສົ່ງສິນຄ້າ" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.send_to_delivery" style="color: #00e676">check_circle</mat-icon>
        <mat-icon *ngIf="!element.send_to_delivery" style="color: #ff3d00">cancel</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="send_to_customer">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ແຈ້ງເຕືອນໄປຫາລູກຄ້າ" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.send_to_customer" style="color: #00e676">check_circle</mat-icon>
        <mat-icon *ngIf="!element.send_to_customer" style="color: #ff3d00">cancel</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> <span class="la-font">{{ "ແກ້ໄຂ" | translate }}</span> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" class="button-edit"
          [routerLink]="['/push-notification-setting/update', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSize]="50" [length]="data.length" aria-label="Select page"></mat-paginator>
</div>
