<form [formGroup]="formTopUp">
  <div class="_box">
    <div class="form-box">
      <mat-form-field class="mat-form" appearance="outline">
        <mat-label class="la-font">{{ "ແຕ່ວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="from_date" />
      </mat-form-field>

      <mat-form-field class="mat-form" appearance="outline">
        <mat-label class="la-font">{{ "ຫາວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="to_date" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="mat-form">
        <mat-label class="la-font">{{ "ຜະລິດຕະພັນ" | translate }}</mat-label>
        <mat-select formControlName="product" multiple>
          <mat-checkbox
            [checked]="networkComplete"
            (change)="setAllNetwork($event.checked)"
            style="padding: 0 16px; margin-top: 10px"
          >
            {{ "ທັງໝົດ" | translate }}
          </mat-checkbox>
          <mat-option
            *ngFor="let item of rewardProductType"
            [value]="item"
            (click)="setAnyNetwork(item)"
            >{{ item.rewardTypeDesc }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        class="la-font my-btn"
        (click)="onBtnReportClick()"
      >
        ລາຍງານ
      </button>
    </div>
  </div>
</form>

<div class="_box" style="text-align: right" *ngIf="submitted">
  <button
    mat-mini-fab
    color="primary"
    class="my-btn"
    style="margin-right: 30px"
    (click)="printDiv()"
  >
    <mat-icon>local_printshop</mat-icon>
  </button>

  <button
    mat-flat-button
    (click)="exportToExcel()"
    style="background-color: #00c853; color: #fff"
  >
    Export To Excel
  </button>
</div>

<div class="_box" *ngIf="submitted">
  <table class="table" style="margin-top: 50px" id="report">
    <tr >
      <th width="7.14%">{{ "Date" | translate }}</th>
      <th *ngIf="shouldShowColumn('MART')" width="7.14%">
        {{ "Sokxay Mart" | translate }}
      </th>
      <th *ngIf="shouldShowColumn('LOTTERY')" width="7.14%">
        {{ "Sokxay Lottery" | translate }}
      </th>
      <th *ngIf="shouldShowColumn('UNITEL')" width="7.14%">
        {{ "Unitel" | translate }}
      </th>
      <th *ngIf="shouldShowColumn('LTC')" width="7.14%">
        {{ "LTC" | translate }}
      </th>
      <th *ngIf="shouldShowColumn('TPLUS')" width="7.14%">
        {{ "TPlus" | translate }}
      </th>
      <th *ngIf="shouldShowColumn('ETL')" width="7.14%">
        {{ "ETL" | translate }}
      </th>
    </tr>

    <tr *ngFor="let item of shopRewardSummary">
      <td class="date">{{ item.createdAt | date : "dd/MM/yyyy" }}</td>
      <td class="number" *ngIf="shouldShowColumn('MART')">
        {{ formatCurrency(0) }}
      </td>
      <td class="number" *ngIf="shouldShowColumn('LOTTERY')">
        {{ formatCurrency(item.lottoRewardGenerated || 0) }}
      </td>
      <td class="number" *ngIf="shouldShowColumn('UNITEL')">{{ formatCurrency(0) }}</td>
      <td class="number" *ngIf="shouldShowColumn('LTC')">
        {{ formatCurrency(item.ltcRewardGenerated || 0) }}
      </td>
      <td class="number" *ngIf="shouldShowColumn('TPLUS')">{{ formatCurrency(0) }}</td>
      <td class="number" *ngIf="shouldShowColumn('ETL')">{{ formatCurrency(0) }}</td>
    </tr>

    <tr class="total">
      <th class="all">ທັງໝົດ</th>
      <th  class="number" *ngIf="shouldShowColumn('MART')">{{ formatCurrency(0) }}</th>
      <th class="number" *ngIf="shouldShowColumn('LOTTERY')">{{ formatCurrency(sumLot) }}</th>
      <th class="number" *ngIf="shouldShowColumn('UNITEL')">{{ formatCurrency(0) }}</th>
      <th class="number" *ngIf="shouldShowColumn('LTC')">{{ formatCurrency(sumLTC) }}</th>
      <th class="number" *ngIf="shouldShowColumn('TPLUS')">{{ formatCurrency(0) }}</th>
      <th class="number" *ngIf="shouldShowColumn('ETL')">{{ formatCurrency(0) }}</th>
    </tr>
  </table>
</div>
