<div class="loading-box" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="_box">
  <form [formGroup]="form" #f="ngForm">
    <div style="display: flex; align-items: center">
      <mat-form-field appearance="outline" style="margin: 0 10px">
        <mat-label class="la-font">{{ "ແຕ່ວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="from_date" />
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin: 0 10px">
        <mat-label class="la-font">{{ "ຫາວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="to_date" />
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 10px">
        <mat-label class="la-font">{{ "ເບີໂທ" | translate }}</mat-label>
        <input matInput type="text" formControlName="phone" />
      </mat-form-field>
    </div>

    <div style="margin: -5px auto 0">
      <div style="margin: 0 10px">
        <button mat-flat-button color="primary" class="la-font my-btn" (click)="onBtnReportClick()">
          ລາຍງານ
        </button>
      </div>
    </div>
  </form>
</div>

<div class="_box" style="text-align: right" *ngIf="submitted">
  <!-- <button mat-flat-button style="
      background-color: #ff0506;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      min-width: 40px !important;
      height: 40px;
      padding: 0;
      margin-right: 30px;
    " (click)="printIsSuedPoint()">
    <mat-icon>print</mat-icon>
  </button> -->

  <div style="position: relative;display: inline-block;margin-right: 10px;">
    <input type="file" id="jsonFile" accept=".xlsx"
      (change)="onFileChange($event)"
      style="
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 1000;
    " />

    <button mat-flat-button style="background-color: #00c853; color: #fff">
      ນຳເຂົ້າຂໍ້ມູນ
    </button>
  </div>


  <button mat-flat-button
    style="background-color: red; color: #fff; margin-right: 10px;"
    *ngIf="failedTask.length > 0"
    (click)="downloadFailedTask()">
    ດາວໂຫຼດລາຍການທີ່ບໍ່ສຳເລັດ
  </button>

  <button mat-flat-button style="background-color: #00c853; color: #fff" (click)="exportToExcel()">
    Export To Excel
  </button>
</div>

<div class="_box box" style="margin-top: 20px" *ngIf="submitted">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div style="width: 100%" id="report">
    <mat-table mat-table [dataSource]="rewardPayoutDetails" style="width: 100%">
      <!-- Number Column -->
      <ng-container matColumnDef="cus_id" style="width: 20px">
        <mat-header-cell *matHeaderCellDef><span class="la-font">{{
            "ລະຫັດຜູ້ໃຊ້" | translate
            }}</span></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="la-font">{{ element.rewardId }}</span></mat-cell>
      </ng-container>

      <!-- Order date Column -->
      <ng-container matColumnDef="cus_phone">
        <mat-header-cell *matHeaderCellDef><span class="la-font">{{
            "ເບີໂທຜູ້ໃຊ້" | translate
            }}</span></mat-header-cell>
        <mat-cell *matCellDef="let element"><span class="la-font">{{ element.rewardPhone }}</span></mat-cell>
      </ng-container>

      <!-- Store Column -->
      <ng-container matColumnDef="cus_name">
        <mat-header-cell *matHeaderCellDef><span class="la-font">{{
            "ຊື່ຜູ້ໃຊ້" | translate
            }}</span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="la-font">{{ element.rewardFullName }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cus_account">
        <mat-header-cell *matHeaderCellDef><span class="la-font">{{
            "ບັນຊີທະນາຄານ" | translate
            }}</span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="la-font"></span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pay_success">
        <mat-header-cell *matHeaderCellDef><span class="la-font">{{
            "ຈ່າຍໄປແລ້ວ" | translate
            }}</span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="la-font">{{ formatCurrency(element.rewardPaid) }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pay_date">
        <mat-header-cell *matHeaderCellDef><span class="la-font">{{
            "ວັນທີຈ່າຍ" | translate
            }}</span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="la-font">{{ element.paidDate|date:'dd/MM/Y' }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="reference">
        <mat-header-cell *matHeaderCellDef><span class="la-font">{{
            "ເລກອ້າງອິງ" | translate
            }}</span></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="la-font">{{ element.paidRefId }}</span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalSize" [pageSize]="limit"></mat-paginator>
  </div>
</div>
