<form [formGroup]="formTopUp">
  <div class="_box">
    <div class="form-box">
      <mat-form-field class="mat-form" appearance="outline">
        <mat-label class="la-font">{{ "ແຕ່ວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="from_date" />
      </mat-form-field>

      <mat-form-field class="mat-form" appearance="outline">
        <mat-label class="la-font">{{ "ຫາວັນທີ" | translate }}</mat-label>
        <input matInput type="date" formControlName="to_date" />
      </mat-form-field>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        class="la-font my-btn"
        (click)="onBtnReportClick()"
      >
        ລາຍງານ
      </button>
    </div>
  </div>
</form>

<div class="_box" style="text-align: right" *ngIf="submitted">
  <button
    mat-mini-fab
    color="primary"
    class="my-btn"
    style="margin-right: 30px"
    (click)="printDiv()"
  >
    <mat-icon>local_printshop</mat-icon>
  </button>

  <button
    mat-flat-button
    (click)="exportToExcel()"
    style="background-color: #00c853; color: #fff"
  >
    Export To Excel
  </button>
</div>

<div class="_box" *ngIf="submitted">
  <table class="table" style="margin-top: 50px" id="report">
    <tr>
      <th class="la-font">
        <div>
          {{ "ວັນທີໂອນ" | translate }}
        </div>
      </th>
      <th class="la-font">
        <div>
          {{ "ຍອດໂອນທັງໝົດ" | translate }}
        </div>
      </th>
    </tr>

    <tr class="la-font" *ngFor="let item of shopRewardPayoutSummary">
      <td>
        <div>{{ item.createdAt | date : "dd/MM/yyyy" }}</div>
      </td>
      <td>
        <div>
          {{ formatCurrency(item.rewardPayout) }}
        </div>
      </td>
    </tr>
    <!-- <tr class="Phetsarath_OT">
      <td>
        <div>03/02/2023</div>
      </td>
      <td>
        <div>
          {{ formatCurrency(3000000000) }}
        </div>
      </td>
    </tr> -->

    <tr class="la-font">
      <th>
        <div>ທັງໝົດ</div>
      </th>
      <th>
        <div>
          {{ formatCurrency(sum) }}
        </div>
      </th>
    </tr>
  </table>
</div>
