<div class="loading-box" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="_box">
  <form [formGroup]="form" #f="ngForm">
    <div style="display: flex; align-items: center">
      <mat-form-field appearance="outline" style="margin: 0 10px">
        <mat-label class="la-font">{{ "ເດືອນ" | translate }}</mat-label>
        <input matInput type="month" formControlName="month" />
        <!-- <input matInput type="date"> -->
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 10px">
        <mat-label class="la-font">{{ "ຜະລິດຕະພັນ" | translate }}</mat-label>
        <mat-select formControlName="product" multiple>
          <mat-checkbox
            [checked]="isSelectAllProduct"
            (change)="setAll($event.checked)"
            style="padding: 0 16px; margin-top: 10px"
          >
            {{ "ທັງໝົດ" | translate }}
          </mat-checkbox>
          <mat-option *ngFor="let item of dataProductType" [value]="item">{{
            item.pointTypeDesc
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="margin: -5px auto 0">
      <div style="margin: 0 10px">
        <button
          mat-flat-button
          color="primary"
          class="la-font my-btn"
          (click)="onBtnReportClick()"
        >
          ລາຍງານ
        </button>
      </div>
    </div>
  </form>
</div>

<div class="_box" style="text-align: right" *ngIf="submitted">
  <button
    mat-flat-button
    style="
      background-color: #ff0506;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      min-width: 40px !important;
      height: 40px;
      padding: 0;
      margin-right: 30px;
    "
    (click)="printIsSuedPoint()"
  >
    <mat-icon>print</mat-icon>
  </button>

  <button
    mat-flat-button
    style="background-color: #00c853; color: #fff"
    (click)="exportToExcel()"
  >
    Export To Excel
  </button>
</div>

<div class="_box" style="margin-top: 20px" *ngIf="submitted">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <table class="table la-font" id="report">
    <tr class="la-font">
      <th width="20%">{{ "ຜະລິດຕະພັນ" | translate }}</th>
      <th width="20%">{{ "ໃຫ້ຄະແນນທັງໝົດ" | translate }}</th>
      <th width="20%">{{ "ໃຊ້ຄະແນນທັງໝົດ" | translate }}</th>
      <th width="20%">{{ "ຕ້ອງສົ່ງເງິນຄືນໃຫ້ຮ້ານ" | translate }}</th>
      <th width="20%">{{ "ຕ້ອງເກັບເງິນຄືນຈາກຮ້ານ" | translate }}</th>
    </tr>

    <tr class="text-number" *ngFor="let item of dataPointIssued">
      <td class="text-title">{{ item.product }}</td>
      <td>{{ formatCurrency(item.pointGenerated) }}</td>
      <td>{{ formatCurrency(item.pointUsaged) }}</td>
      <td>{{ formatCurrency(item.return) }}</td>
      <td>{{ formatCurrency(item.getBack) }}</td>
    </tr>

    <tr style="font-weight: 700" class="text-number">
      <td style="text-align: center">ທັງໝົດ</td>
      <td>{{ formatCurrency(totalPointGenerated) }}</td>
      <td>{{ formatCurrency(totalPointUsaged) }}</td>
      <td>{{ formatCurrency(totalReturn) }}</td>
      <td>{{ formatCurrency(totalGetBack) }}</td>
    </tr>
  </table>
</div>
