<div class="_box">
  <h1>{{ "ລາຍລະອຽດການຖືກລາງວັນ" | translate }}</h1>
  <div style="display: flex; align-items: center">
    <mat-form-field appearance="outline" style="margin: 0 10px">
      <mat-label class="la-font">{{ "ເລກບິນຫວຍ" | translate }}</mat-label>
      <input matInput type="text" [(ngModel)]="billno" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin: 0 10px">
      <mat-label class="la-font">{{ "ແຕ່ວັນທີ" | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="from_date" />
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 0 10px">
      <mat-label class="la-font">{{ "ຫາວັນທີ" | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="to_date" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin: 0 10px">
      <mat-label class="la-font">{{ "ງວດທີ" | translate }}</mat-label>
      <mat-select [(ngModel)]="draw">
        <mat-option value="">ALL</mat-option>
        <mat-option *ngFor="let item of lottoId" [value]="item.lotId">{{
          item.lotId
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="margin: -5px auto 0">
      <div style="margin: 0 10px; padding-bottom: 1.34375em">
        <button
          mat-flat-button
          color="primary"
          class="la-font my-btn"
          (click)="onBtnReportClick()"
        >
          {{ "ລາຍງານ" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="_box" style="text-align: right" *ngIf="submitted">
  <button
    mat-flat-button
    style="
      background-color: #fc6a05;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      min-width: 40px !important;
      height: 40px;
      padding: 0;
      margin-right: 30px;
    "
    (click)="print()"
  >
    <mat-icon>print</mat-icon>
  </button>

  <button
    mat-flat-button
    style="background-color: #00c853; color: #fff"
    (click)="exportToExcel()"
  >
    Export To Excel
  </button>
</div>

<div class="_box" style="margin-top: 20px" *ngIf="submitted">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <table
      mat-table
      [dataSource]="dataSource"
      id="report"
      class="mat-elevation-z8"
      multiTemplateDataRows
      *ngIf="submitted"
    >
      <ng-container matColumnDef="Billno">
        <th mat-header-cell *matHeaderCellDef>{{ "ເລກບິນຫວຍ" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.ticket_id }}</td>
      </ng-container>
      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef>
          <span class="la-font">{{ "ວັນທີຊື້" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.order_date | date : "dd/MM/yyyy HH:mm:ss" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Draw">
        <th mat-header-cell *matHeaderCellDef>
          <span class="la-font">{{ "ງວດທີ" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.lot_id }}</td>
      </ng-container>
      <ng-container matColumnDef="DrawDate">
        <th mat-header-cell *matHeaderCellDef>
          <span class="la-font">{{ "ງວດວັນທີ" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.draw_date | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="PaymentType">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ວີທີການຊຳລະເງິນ" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.paid_by }}</td>
      </ng-container>
      <ng-container matColumnDef="PaymentAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ຈຳນວນເງິນຊື້ຫວຍ" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="number">
          {{ formatCurrency(element.total_amount) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="WinAmount">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ຈຳນວນເງິນຖືກລາງວັນ" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="number">
          {{ formatCurrency(element.win_amount) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Customers">
        <th mat-header-cell *matHeaderCellDef>{{ "ລູກຄ້າ" | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ເບີໂທຕິດຕໍ່" | translate }}
        </th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialog(element)"
          >
            ລາຍລະອຽດ
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="queue-element-row"
      ></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="limit"
    [length]="resultsLength"
    aria-label="Select page"
  ></mat-paginator>
</div>
