<form (submit)="submit()" [formGroup]="form">
  <div class="box">
    <div *ngIf="loading" class="loading-box">
      <mat-spinner></mat-spinner>
    </div>
    <div style="padding: 1rem">
      <h2 class="la-font box-title">{{ "ແກ້ໄຂຮູບພາບໂຄສະນາ" | translate }}</h2>

      <div style="display: flex;">
        <div style="margin-right: 5px;flex: 1">
          <div style="margin-bottom: 10px">
            <label for="" class="la-font"><strong>{{ "ຮູບພາບ ( 1920 x 445 )" | translate }}</strong></label>
          </div>
          <input type="file" class="my-input" (change)="onLogoChange($event)">
          <div style="margin: 20px 0" *ngIf="imageUrl">
            <img [src]="imageUrl" width="150" height="80">
          </div>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ລຳດັບໃນການສະແດງ Banner" | translate
        }}</mat-label>
        <input matInput formControlName="banner_advertising_position" class="la-font" />
      </mat-form-field>

      <div style="margin: 40px 0 10px">
        <a mat-stroked-button class="la-font" [routerLink]="baseUrl + '/banner-advertising'">
          <mat-icon style="font-size: 16px">keyboard_backspace</mat-icon>
          {{ "ຍົກເລີກ" | translate }}
        </a>
        <button mat-flat-button color="primary" class="la-font my-btn" style="margin-left: 10px">
          <mat-icon style="font-size: 16px">save</mat-icon>
          {{ "ບັນທຶກ" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
