  <div class="box">
    <div *ngIf="loading" class="loading-box">
      <mat-spinner></mat-spinner>
    </div>
    <div style="padding: 1rem;">
      <h2 class="la-font box-title">{{ "ຕັ້ງຄ່າທົ່ວໄປ" | translate }}</h2>

      <div *ngFor="let setting of settings">
        <div style="display: flex;">
          <h3 class="la-font" style="width: 350px;margin-bottom: 0;margin-top: 15px">{{ setting.description }}</h3>
          <mat-form-field appearance="outline" style="width: 150px;margin: 0 15px">
            <mat-label class="la-font">{{ "ຄ່າ" | translate }}</mat-label>
            <input matInput [(ngModel)]="setting.value">
          </mat-form-field>
          <h3 class="la-font" style="margin-bottom: 0;margin-top: 15px">{{ setting.unit }}</h3>
        </div>
        <mat-divider style="margin-bottom: 1.34375em"></mat-divider>
      </div>

      <div style="margin: 40px 0 10px">
        <button mat-flat-button color="primary" class="la-font my-btn" (click)="submit()">
          <mat-icon style="font-size: 16px;">save</mat-icon>
          {{ "ບັນທຶກ" | translate }}
        </button>
      </div>
    </div>
  </div>
