<div class="_box box-toolbar">
  <!-- <button
    mat-flat-button
    color="primary"
    class="la-font my-btn"
    [routerLink]="baseUrl + '/service-country/create'"
  >
    <mat-icon>add</mat-icon>
    {{ "ເພີ່ມ" | translate }}
  </button> -->
</div>
<div class="_box box" style="margin-bottom: 50px">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataSource" *ngIf="!loading">
    <ng-container matColumnDef="country_name_la">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ທີ່ໃຫ້ບໍລີການ (ລາວ)" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.country_name_la }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country_name_en">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ທີ່ໃຫ້ບໍລີການ (ອັງກິດ)" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.country_name_en }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="service_type_la">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ປະເພດບໍລີການ" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.servicesType.service_type_la }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ແກ້ໄຂ" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          class="button-edit"
          [routerLink]="[baseUrl + '/service-country/update', element.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSize]="50"
    [length]="dataCountry.length"
    aria-label="Select page"
  ></mat-paginator>
</div>
