<div class="_box box-toolbar">
  <button mat-flat-button color="primary" class="la-font my-btn" [routerLink]="baseUrl + '/village/create'">
    <mat-icon>add</mat-icon>
    {{ "ເພີ່ມ" | translate }}
  </button>
</div>
<div class="_box box" style="margin-bottom: 50px">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-table [dataSource]="dataVillage" *ngIf="!loading">
    <ng-container matColumnDef="product_cate_la">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ບ້ານ (ລາວ)" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.vill_name_la }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="product_cate_en">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ບ້ານ (ອັງກິດ)" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="la-font">{{ element.vill_name_en }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>
        <span class="la-font">{{ "ແກ້ໄຂ" | translate }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" class="button-edit"
          [routerLink]="[baseUrl + '/village/update', element.vill_cd]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="this.limit" [length]="resultsLength" aria-label="Select page"></mat-paginator>
</div>