$main-la-font: "noto_sans_laoregular";
$main-en-font:"Tahoma";

h1{
 font-family: $main-la-font ;
}
.queue-element-row {
  border-bottom-width: 0;
}

.queue-element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
 background-color: #F0EDEC;

}
tr.queue-detail-row {
  height: 0;

}

tr.queue-element-row:not(.queue-expanded-row):hover {
  background: whitesmoke;
}

tr.queue-element-row:not(.queue-expanded-row):active {
  background: #efefef;
}


table{
  font-family: $main-la-font ;
  width: 100%;
  border-collapse: collapse;
 }

  table td{
padding-right: 15px;
text-align: center;
 }

 table th{
padding-right:15px;
text-align: center;
   }
