<!-- dialog-box.component.html
<h1 mat-dialog-title style="font-family: noto_sans_laoregular;"> {{"ເລກບິນຫວຍ"| translate}}: <strong>{{local_data.ticket_id}}</strong></h1>
<h2 mat-dialog-title style="font-family: noto_sans_laoregular;">{{"ວັນທີຊື້"| translate}}: <strong> {{local_data.order_date | date: 'dd-MM-yyyy h:mm:ss a'}} </strong> </h2>
<h2 mat-dialog-title style="font-family: noto_sans_laoregular;">{{"ງວດທີ"| translate}}: <strong> {{local_data.lot_id}} </strong> </h2>

  <table class="table-details" style="margin: 0 10px">
    <tr>
      <th>{{"ເລກທີ່ຊື້ທັງຫມົດ"|translate}}</th>
      <th> {{"ຈຳນວນເງິນ"|translate}} </th>

    </tr>
    <tr *ngFor="let item of local_data.saleDetails">
      <td>{{item.mluckynumber}}</td>
      <td>{{formatCurrency(item.mamount)}}</td>

    </tr>
    </table>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Close</button>
</div> -->
