<div class="_box">
  <h1>{{ "ຍອດຂາຍລວມຕາມວັນທີ" | translate }}</h1>
  <!-- <form [formGroup]="form" #f="ngForm" [style.width.%]="100" > -->
  <div style="display: flex; align-items: center">
    <mat-form-field appearance="outline" style="margin: 0 10px">
      <mat-label class="la-font">{{ "ແຕ່ວັນທີ" | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="from_date" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="margin: 0 10px">
      <mat-label class="la-font">{{ "ຫາວັນທີ" | translate }}</mat-label>
      <input matInput type="date" [(ngModel)]="to_date" />
    </mat-form-field>

    <div style="margin: -5px auto 0">
      <div style="margin: 0 10px; padding-bottom: 1.34375em">
        <button
          mat-flat-button
          color="primary"
          class="la-font my-btn"
          (click)="onBtnReportClick()"
        >
          {{ "ລາຍງານ" | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- </form> -->
</div>

<div class="_box" style="text-align: right" *ngIf="submitted">
  <button
    mat-flat-button
    style="
      background-color: #fc6a05;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      min-width: 40px !important;
      height: 40px;
      padding: 0;
      margin-right: 30px;
    "
    (click)="print()"
  >
    <mat-icon>print</mat-icon>
  </button>

  <button
    mat-flat-button
    style="background-color: #00c853; color: #fff"
    (click)="exportToExcel()"
  >
    Export To Excel
  </button>
</div>

<div class="_box" style="margin-top: 20px" *ngIf="submitted">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <table
      mat-table
      [dataSource]="datadate"
      id="report"
      class="mat-elevation-z8"
      multiTemplateDataRows
      *ngIf="submitted"
    >
      <ng-container matColumnDef="TransactionDate">
        <th mat-header-cell *matHeaderCellDef>{{ "ວັນທີຂາຍ" | translate }}</th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          {{ element.drawdate | date : "dd/MM/yyyy" }}
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          colspan="1"
          style="text-align: center"
        >
          Total Amount:
        </td>
      </ng-container>
      <!-- <ng-container  matColumnDef="Company">
          <th mat-header-cell *matHeaderCellDef>{{"ຕົວແທນ" | translate}}</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.companyname}}</td>
          <td mat-footer-cell *matFooterCellDef></td>

      </ng-container> -->
      <ng-container matColumnDef="TotalSales">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ຍອດຂາຍທັງໝົດ" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="number">
          {{ formatCurrency(element.totalsale) }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="number">
          {{ formatCurrency(sumtotalsale) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="TotalPayment">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ຍອດຊຳລະດ້ວຍເງິນ" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="number">
          {{ formatCurrency(element.totalpayment) }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="number">
          {{ formatCurrency(sumtotalpayment) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="TotalPaymentbyPoint">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ຍອດຊຳລະດ້ວຍຄະແນນ" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="number">
          {{ formatCurrency(element.totalpaymentbypoint) }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="number">
          {{ formatCurrency(sumtotalpaymentbypoint) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="TotalPointIssued">
        <th mat-header-cell *matHeaderCellDef>
          {{ "ຄະແນນທີ່ສ້າງ" | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="number">
          {{ formatCurrency(element.totalpointissued) }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="number">
          {{ formatCurrency(sumtotalpointissued) }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: displayedColumns"
        class="queue-element-row"
      ></tr>
      <tr
        mat-footer-row
        class="sticky-footer"
        *matFooterRowDef="[
          'TransactionDate',
          'TotalSales',
          'TotalPayment',
          'TotalPaymentbyPoint',
          'TotalPointIssued'
        ]"
        style="font-weight: bold"
      ></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="limit"
    [length]="resultsLength"
    aria-label="Select page"
  ></mat-paginator>
</div>
