<div class="loading-box" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div class="_box">
  <form [formGroup]="form" #f="ngForm">
    <div style="display: flex; align-items: center">
      <mat-form-field appearance="outline" style="margin: 0 10px">
        <mat-label class="la-font">{{ "ເດືອນ" | translate }}</mat-label>
        <input matInput type="month" formControlName="month" />
        <!-- <mat-hint>MM/YYYY</mat-hint> -->
        <!-- <input matInput type="date"> -->
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 10px">
        <mat-label class="la-font">{{ "ຜະລິດຕະພັນ" | translate }}</mat-label>
        <mat-select formControlName="products" multiple [(ngModel)]="company">
          <mat-checkbox
            [checked]="isSelectAllProduct"
            (change)="setAll($event.checked)"
            style="padding: 0 16px; margin-top: 10px"
          >
            {{ "ທັງໝົດ" | translate }}
          </mat-checkbox>

          <mat-option *ngFor="let item of products" [value]="item">
            {{ item.pointTypeDesc }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="margin: -5px auto 0">
      <div style="margin: 0 10px">
        <button
          mat-flat-button
          color="primary"
          class="la-font my-btn"
          (click)="onBtnReportClick()"
        >
          ລາຍງານ
        </button>
      </div>
    </div>
  </form>
</div>

<!-- <div class="_box" *ngIf="submitted" style="text-align: right">
    <button mat-flat-button (click)="exportToExcel()" style="background-color: #00c853;color: #fff">Export To
      Excel</button>
  </div> -->

<div class="_box" style="text-align: right">
  <button
    mat-flat-button
    style="
      background-color: #fc6a05;
      color: #fff;
      margin-right: 10px;
      border-radius: 50%;
      min-width: 40px !important;
      height: 40px;
      padding: 0;
      margin-right: 30px;
    "
    (click)="printIsSuedPoint()"
  >
    <mat-icon>print</mat-icon>
  </button>

  <button
    mat-flat-button
    style="background-color: #00c853; color: #fff"
    (click)="exportToExcel()"
  >
    Export To Excel
  </button>
</div>

<div class="_box" style="margin-top: 20px">
  <div class="loading-box" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <table class="table la-font" id="report">
    <tr class="la-font">
      <th colspan="3" width="20%">{{ "ຄະແນນທີ່ສ້າງ" | translate }}</th>
      <th colspan="1" width="10%">{{ "ຄະແນນທີ່ຍັງເຫຼືອ" | translate }}</th>
      <th colspan="3" width="20%">{{ "ຄະແນນທີ່ໃຊ້" | translate }}</th>
    </tr>

    <tr *ngFor="let row of pointBalance; let i = index">
      <td>{{ row.product }}</td>
      <td style="text-align: right">
        {{ formatCurrency(row.pointGenerated) }}
      </td>
      <td
        *ngIf="i === 0"
        [attr.rowspan]="pointBalance.length"
        style="
          text-align: center;
          font-size: 1.5em;
          font-weight: 700;
          background-color: #e2efda;
        "
      >
        {{ formatCurrency(total_pointGenerated) }}
      </td>
      <td
        *ngIf="i === 0"
        [attr.rowspan]="pointBalance.length"
        style="
          text-align: center;
          font-size: 2em;
          font-weight: 700;
          background-color: #ddebf7;
          color: #0070c0;
        "
      >
        {{ formatCurrency(total_amount) }}
      </td>
      <td
        *ngIf="i === 0"
        [attr.rowspan]="pointBalance.length"
        style="
          text-align: center;
          font-size: 1.5em;
          font-weight: 700;
          background-color: bisque;
        "
      >
        {{ formatCurrency(total_pointUsaged) }}
      </td>
      <td style="text-align: right">{{ formatCurrency(row.pointUsaged) }}</td>
      <td>{{ row.product }}</td>
    </tr>
  </table>
</div>
