<div style="height: 100%">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="main-logo">
      <img src="assets/images/logo.png" />
    </span>
    <span class="example-spacer"></span>
    <div style="display: flex; align-items: center">
      <div>
        <button mat-button [matMenuTriggerFor]="menu" class="la-font">
          <mat-icon style="margin-right: 5px"> person_pin</mat-icon>{{ user ? user.fullname_la : "" }}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="la-font">
            <strong>{{ "ປະເພດຜູ້ໃຊ້ລະບົບ" | translate }}:</strong>
            {{ user ? user.role_name : "" }}
          </button>
          <button mat-menu-item class="la-font" (click)="logout()">
            {{ "ອອກຈາກລະບົບ" | translate }}
          </button>
        </mat-menu>
      </div>
      <!-- <button mat-icon-button>
        <img src="assets/images/en-icon.svg" width="31.5" height="21">
      </button> -->
      <div style="margin: 15px">
        <button mat-icon-button [matMenuTriggerFor]="langMenu">
          <img [src]="activeLanguageFlag" width="31.5" height="21" />
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
          <button mat-menu-item style="align-items: center; display: flex; justify-content: center"
            (click)="onBtnChangeLanguageClick()">
            <img [src]="unActiveLanguageFlag" width="31.5" height="21" />
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <!-- Side bar -->
    <mat-sidenav [(opened)]="opened" mode="side">
      <!-- <a routerLink="" class="sidenav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>dashboard</mat-icon>DASHBOARD
      </a> -->

      <a [routerLink]="baseUrl + '/banner'" class="sidenav-link" routerLinkActive="active-link">
        <mat-icon>chrome_reader_mode</mat-icon>{{ "ແບນເນີ" | translate }}
      </a>

      <a [routerLink]="baseUrl + '/banner-advertising'" class="sidenav-link" routerLinkActive="active-link">
        <mat-icon>move_up</mat-icon>{{ "ແບນເນີໂຄສະນາ" | translate }}
      </a>


      <a [routerLink]="baseUrl + '/about-structure'" class="sidenav-link" routerLinkActive="active-link">
        <mat-icon>account_tree</mat-icon>{{ "ແຜນຜັງໂຄງຮ່າງ" | translate }}
      </a>

      <a [routerLink]="baseUrl + '/news-activity'" class="sidenav-link" routerLinkActive="active-link">
        <mat-icon>assignment</mat-icon>{{ "ຂ່າວ ແລະ ກິດຈະກຳ" | translate }}
      </a>

      <a [routerLink]="baseUrl + '/social'" class="sidenav-link" routerLinkActive="active-link">
        <mat-icon>public</mat-icon>{{ "ຊ່ອງທາງຕິດຕໍ່" | translate }}
      </a>

<!-- ----------------------- job            ---------------------- -->
      <a class="sidenav-link"
        style="cursor: pointer;display: flex; justify-content: space-between; align-items: center;"
        routerLinkActive="active-link" (click)="showDropdownWork = !showDropdownWork">
        <div style="display: flex; align-items: center;">
          <mat-icon>work</mat-icon>
          <span>{{ "ວຽກ" | translate }}</span>
        </div>
        <mat-icon style="margin-left: 10px">keyboard_arrow_down</mat-icon>
      </a>
      <div style="padding-left: 30px" *ngIf="showDropdownWork">
        <a [routerLink]="baseUrl + '/work'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>tsunami</mat-icon>{{ "ວຽກ" | translate }}
        </a>

        <a [routerLink]="baseUrl + '/apply-work'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>tornado</mat-icon>{{ "ສະໝັກວຽກ" | translate }}
        </a>
      </div>


      <!-- province && district && village -->

      <a class="sidenav-link"
        style="cursor: pointer;display: flex; justify-content: space-between; align-items: center;"
        routerLinkActive="active-link" (click)="showDropdownProvince = !showDropdownProvince">
        <div style="display: flex; align-items: center;">
          <mat-icon>emoji_transportation</mat-icon>
          <span>{{ "ຈັດການຂໍ້ມູນ" | translate }}</span>
        </div>
        <mat-icon style="margin-left: 10px">keyboard_arrow_down</mat-icon>
      </a>
      <div style="padding-left: 30px" *ngIf="showDropdownProvince">
        <a [routerLink]="baseUrl + '/province'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>tsunami</mat-icon>{{ "ແຂວງ" | translate }}
        </a>

        <a [routerLink]="baseUrl + '/district'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>tornado</mat-icon>{{ "ເມືອງ" | translate }}
        </a>

        <a [routerLink]="baseUrl + '/village'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>date_range</mat-icon>{{ "ບ້ານ" | translate }}
        </a>

      </div>


      <!-- Product -------------------------------------------------- -->
      <a class="sidenav-link"
        style="cursor: pointer;display: flex; justify-content: space-between; align-items: center;"
        routerLinkActive="active-link" (click)="showDropdownProductMenu = !showDropdownProductMenu">
        <div style="display: flex; align-items: center;">
          <mat-icon>inventory_2</mat-icon>
          <span>{{ "ຜະລິດຕະພັນ" | translate }}</span>
        </div>
        <mat-icon style="margin-left: 10px">keyboard_arrow_down</mat-icon>
      </a>
      <div style="padding-left: 30px" *ngIf="showDropdownProductMenu">
        <a [routerLink]="baseUrl + '/product-category'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>category</mat-icon>{{ "ປະເພດ" | translate }}
        </a>
        <a [routerLink]="baseUrl + '/product-category-sub'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>precision_manufacturing</mat-icon>{{ "ປະເພດຍ່ອຍ" | translate }}
        </a>
        <a [routerLink]="baseUrl + '/product'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>inventory</mat-icon>{{ "ຜະລິດຕະພັນ" | translate }}
        </a>
        <a [routerLink]="baseUrl + '/product-order'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>favorite</mat-icon>{{ "ຜະລິດຕະພັນທີ່ສົນໃຈ" | translate }}
        </a>

      </div>
      <!-- Product -------------------------------------------------- -->


      <a class="sidenav-link"
        style="cursor: pointer;display: flex; justify-content: space-between; align-items: center;"
        routerLinkActive="active-link" (click)="showDropdownLottoMenu = !showDropdownLottoMenu">
        <div style="display: flex; align-items: center;">
          <mat-icon>confirmation_number</mat-icon>
          <span>{{ "ບໍລິການ" | translate }}</span>
        </div>
        <mat-icon style="margin-left: 10px">keyboard_arrow_down</mat-icon>
      </a>
      <div style="padding-left: 30px" *ngIf="showDropdownLottoMenu">
        <a [routerLink]="baseUrl + '/service-type'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>date_range</mat-icon>{{ "ປະເພດບໍລິການ" | translate }}
        </a>
        <a [routerLink]="baseUrl + '/service-country'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>details</mat-icon>{{ "ທີ່ບໍລິການ" | translate }}
        </a>
        <a [routerLink]="baseUrl + '/service-location-map/list'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>pin_drop</mat-icon>{{ "ແຜ່ນທີ" | translate }}
        </a>
        <a [routerLink]="baseUrl + '/service-section'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>description</mat-icon>{{ "ພາກ" | translate }}
        </a>
        <a [routerLink]="baseUrl + '/service-location'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>chrome_reader_mode</mat-icon>{{ "ສະຖານທີໃຫ້ບໍລິການ" | translate }}
        </a>

      </div>


      <!-- user -->
      <a class="sidenav-link" routerLinkActive="active-link" (click)="showDropdownUser = !showDropdownUser"
        style="cursor: pointer;display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
          <mat-icon>account_circle</mat-icon>
          <span>{{ "ຜູ້ໃຊ້ລະບົບ" | translate }}</span>
        </div>
        <mat-icon style="margin-left: 10px">keyboard_arrow_down</mat-icon>
      </a>
      <div style="padding-left: 30px" *ngIf="showDropdownUser">
        <a [routerLink]="baseUrl + '/users'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>account_circle</mat-icon>{{ "ຜູ້ໃຊ້ລະບົບ" | translate }}
        </a>

        <a [routerLink]="baseUrl + '/role'" class="sidenav-link" routerLinkActive="active-link">
          <mat-icon>verified_user</mat-icon>{{ "ປະເພດຜູ້ໃຊ້ລະບົບ" | translate }}
        </a>
      </div>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
