$main-color: #ff1744;

.data-box-outer {
    display: flex;
    justify-content: space-between;
}

.data-box {
    background-color: #FC6A05;
    color: #fff;
    display: inline-block;
    padding: 42px;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .data-box-title {
        font-size: 23px;
    }

    .data-box-value {
        font-size: 3em;
        font-weight: 600;
        margin-top: 10px;
    }
}

.data-box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.data-box-left, .data-box-right {
    flex: 1;
    padding: 10px;
}

.order-decline-box {
    flex: 1;
    width: auto;
    color: #000;
    background-color: #ffd600;
}

.mat-column-number {
    flex: 0 0 20px;
}

@media screen and (max-width: 1366px) {
    .data-box {
        .data-box-title {
            font-size: 20px;
        }

        .data-box-value {
            font-size: 2em;
        }
    }
}
