<form (submit)="submit()" [formGroup]="form">
  <div class="box">
    <div *ngIf="loading" class="loading-box">
      <mat-spinner></mat-spinner>
    </div>
    <div style="padding: 1rem">

      <h2 class="la-font box-title">{{ "ແກ້ໄຂເພີ່ມຜູ້ບໍລິຫານ (ໂຄງຮ່າງການຈັດຕັ້ງ)" | translate }}</h2>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ຊື່ ແລະ ນາມສະກຸນ (ລາວ)" | translate
          }}</mat-label>
        <input matInput formControlName="full_name_la" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ຊື່ ແລະ ນາມສະກຸນ (ອັງກິດ)" | translate
          }}</mat-label>
        <input matInput formControlName="full_name_en" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ຕຳແໜ່ງ (ລາວ)" | translate
          }}</mat-label>
        <input matInput formControlName="position_la" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ຕຳແໜ່ງ (ອັງກິດ)" | translate
          }}</mat-label>
        <input matInput formControlName="position_en" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ໜ້າທີ່ຮັບຜິດຊອບ (ລາວ)" | translate
          }}</mat-label>
        <input matInput formControlName="responsible_la" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ໜ້າທີ່ຮັບຜິດຊອບ (ອັງກິດ)" | translate
          }}</mat-label>
        <input matInput formControlName="responsible_en" class="la-font" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label class="la-font">{{
          "ລຳດັບໃນການສະແດງ" | translate
          }}</mat-label>
        <input matInput formControlName="structure_order" class="la-font" />
      </mat-form-field>

      <div style="display: flex; margin-bottom: 20px;">
        <div style="margin-right: 5px;flex: 1">
          <div style="margin-bottom: 10px">
            <label for="" class="la-font"><strong>{{ "ຮູບພາບ ( 863 x 1261 )" | translate }}</strong></label>
          </div>
          <input type="file" class="my-input" (change)="onLogoChange($event)">
          <div style="margin: 20px 0" *ngIf="imageUrl">
            <img [src]="imageUrl" width="150" height="80">
          </div>
        </div>
      </div>

      <div style="margin: 40px 0 10px">
        <a mat-stroked-button class="la-font" [routerLink]="baseUrl + '/about-structure'">
          <mat-icon style="font-size: 16px">keyboard_backspace</mat-icon>
          {{ "ຍົກເລີກ" | translate }}
        </a>
        <button mat-flat-button color="primary" class="la-font my-btn" style="margin-left: 10px">
          <mat-icon style="font-size: 16px">save</mat-icon>
          {{ "ບັນທຶກ" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
